{
    -fx-focus-color: #FECEA8;
}

.date-picker .arrow-button {
    -fx-background-color: #800020;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #FECEA8;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: #800020;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: #800020;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #800020;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill:#FECEA8;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}

.choice-box {
    -fx-background-color: white;
    -fx-mark-color: #800020;
    -fx-border-color: #D3D3D3;
}
.choice-box > .label { -fx-text-fill: #800020; }

.check-box .box {

    -fx-background-color: white;
    -fx-border-color:#D3D3D3;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {

    -fx-background-color: #800020;
}

.notification-bar>.pane {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0, 1, 2;
}

.notification-bar>.pane .title{
    -fx-font-size: 24px; /*16px;*/
    -fx-font-family: Perpetua;
    -fx-alignment: top-center;
}

.notification-bar>.pane .label {
    -fx-font-size: 16px; /*12px;*/
    -fx-font-family: Perpetua;
    -fx-alignment: center;
}

/******************************************************************************
 *
 * Close button
 *
 *****************************************************************************/

.notification-bar>.pane .close-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.notification-bar > .pane .close-button:hover {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);
}

.notification-bar>.pane .close-button:pressed {
    -fx-background-color: linear-gradient(#a3a3a3, #8b8b8b 34%, #777777 36%, #777777 63%, #8b8b8b 65%, #adadad);

}

.notification-bar>.pane .close-button>.graphic {
    -fx-background-color: #000;
    -fx-scale-shape: false;
    -fx-padding: 4.5 4.5 4.5 4.5; /* Graphic is 9x9 px */
}

.notification-bar>.pane .close-button:hover>.graphic {
    -fx-background-color: grey;
}

.notification-bar>.pane .close-button:pressed>.graphic {
    -fx-background-color: #000;
}

.notification-bar>.pane .close-button>.graphic {
    -fx-shape:
            "M395.992,296.758l1.794-1.794l7.292,7.292l-1.795,1.794 L395.992,296.758z M403.256,294.992l1.794,1.794l-7.292,7.292l-1.794-1.795 L403.256,294.992z";
}